suffix_app_log4j2/src/main/resources/schemes/configSchemaXML.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="my-config">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="suffix" type="xs:string"/>
                    <xs:element name="files">
                        <xs:complexType>
                            <xs:sequence maxOccurs="2">
                                <xs:element name="filePath" type="xs:string" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
    </xs:element>

</xs:schema>